.container{
    margin-top: 60px;
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #b1d0f7, #c6c6c7);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    color: black;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.btn{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: red;
    color: #fff;
}