<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-4 text-center">
            <h1 class='text-white'>Welcome To Moadi Insurance</h1>
              <form #f="ngForm" class="form-login" (ngSubmit)="login(f)"><br>
               
                <br>
                <input ngModel name="username" #username="ngModel" type="text" class="form-control input-sm chat-input" placeholder="Username" required username/>
                <div class="alert alert-danger" *ngIf="username.invalid && username.touched">Username is required</div>
                <br><br>
                <input ngModel name="password" #password="ngModel" type="password" class="form-control input-sm chat-input" placeholder="Password" required password/>
                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">Password is required</div>
                <br><br>
                <div class="wrapper">
                        <span class="group-btn">
                            <button  class="btn btn-danger btn-md" type="submit" [disabled]="f.invalid ">login <i class="fas fa-sign-in-alt"></i></button>
                        </span>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>

    &nbsp;
    &nbsp;
    <div class="alert alert-danger" *ngIf="errorMessage"> {{errorMessage}} </div>
    
</div>