<div class="container">
    <h1>Add a new Customer</h1>
    <div class="row">
        <div class="col-md-offset-5 col-md-4 text-center">
              <form #f="ngForm" (ngSubmit)="addcustomer(f)"><br>
                <br>

                <div class="form-check form-check-inline" style="width: max-content;">
                <input ngModel name="fname" #firstname="ngModel" type="text" class="form-control input-sm chat-input" placeholder="First Name" required firstname/>
                &nbsp;
                &nbsp;
                <input ngModel name="lname" #lastname="ngModel" type="text" class="form-control input-sm chat-input" placeholder="Last Name" required lastname/>
                </div>
                <br>
                <div class="alert alert-danger" *ngIf="firstname.invalid && firstname.touched">First Name is required</div>
                <div class="alert alert-danger" *ngIf="lastname.invalid && lastname.touched">Last Name is required</div>
                <br>
                <div class="form-check form-check-inline" style="width: max-content;">
                    <input ngModel name="userid" #userid="ngModel" type="text" class="form-control input-sm chat-input" placeholder=" Id" required userid/>
                    &nbsp;<input ngModel name="address" #address="ngModel" type="text" class="form-control input-sm chat-input" placeholder=" address" required address/>
                    &nbsp;
                &nbsp;
                </div>
                <br>
                <div class="alert alert-danger" *ngIf="userid.invalid && userid.touched">Id is required</div>
                <br>
                <input style="width: 406px;" ngModel name="phone" #phone="ngModel" type="text" class="form-control input-sm chat-input" placeholder="Phone Number" required phone />
                <br>
                <input style="width: 406px;" ngModel name="birthday" #birthday="ngModel" type="date" class="form-control input-sm chat-input" placeholder="birthday" required birthday />
                <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched">phone number is required</div>
                <br>
                <div class="wrapper">
                        <span class="group-btn">
                            <button class="btn btn-primary btn-md" [disabled]='f.invalid' >ADD Customer <i class="fas fa-sign-in-alt"></i></button>
                        </span>
                </div>
            </form>
            &nbsp;
            &nbsp;
            <div class="alert alert-danger" *ngIf="errorMessage"> {{errorMessage}} </div>
        </div>
    </div>
    <br><br><br>
</div>